@model SharePointProviderHostedWeb.ViewModels.Results
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h1>Results From The API</h1>
        <table class="table table-bordered">
            <tr>
                <td>Position</td>
                <td>Team</td>
                <td>Played</td>
                <td>Points</td>
            </tr>
            @foreach (var team in Model.ResultsFromAPI)
            {
                <tr>
                    <td>@team.Position</td>
                    <td>@team.Name</td>
                    <td>@team.Played</td>
                    <td>@team.Points</td>
                </tr>
            }
        </table>
    </div>

    @if (Model.ResultsFromSharePoint.Count() > 0)
    {
        <div class="col-md-6">
            <h1>Results From SharePoint</h1>
            <table class="table table-bordered">
                <tr>
                    <td>Position</td>
                    <td>Team</td>
                    <td>Played</td>
                    <td>Points</td>
                </tr>
                @foreach (var team in Model.ResultsFromSharePoint)
                {
                    <tr>
                        <td>@team.Position</td>
                        <td>@team.Name</td>
                        <td>@team.Played</td>
                        <td>@team.Points</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
